/* All HTML5 progress enabled browsers */
progress {
	/* Dimensions */
	width: 300px;
	height: 20px;
	border: 0px;
}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* EARTH */

/*
 * Progress bar background
 */

/* Firefox and Polyfill */
progress#clock_earth_progress {
	background: url("../img/progress0.png");
}
/* Chrome */
progress#clock_earth_progress::-webkit-progress-bar {
	background: url("../img/progress0.png");
}

/*
 * Progress bar value
 */

/* Firefox */
progress#clock_earth_progress::-moz-progress-bar {
	background: url("../img/progress1.png");
}
/* Chrome */
progress#clock_earth_progress::-webkit-progress-value {
	background: url("../img/progress1.png");
}
/* Polyfill */
progress#clock_earth_progress[aria-valuenow]:before {
	background: url("../img/progress1.png");
}

/* EREMOR */

/*
 * Progress bar background
 */

/* Firefox and Polyfill */
progress#clock_eremor_progress {
	background: url("../img/progress2.png");
}
/* Chrome */
progress#clock_eremor_progress::-webkit-progress-bar {
	background: url("../img/progress2.png");
}

/*
 * Progress bar value
 */

/* Firefox */
progress#clock_eremor_progress::-moz-progress-bar {
	background: url("../img/progress3.png");
}
/* Chrome */
progress#clock_eremor_progress::-webkit-progress-value {
	background: url("../img/progress3.png");
}
/* Polyfill */
progress#clock_eremor_progress[aria-valuenow]:before {
	background: url("../img/progress3.png");
}