#spellingBeeContainer {
	background-color: white;
	border-radius: 2vh;
	color: black;
	height: 50vh;
	padding: 1vh;
	position: relative;
}

#beeAnswers {
	border: 1px solid silver;
	border-radius: 1vh;
	bottom: 0;
	height: 80%;
	margin: 1vh;
	position: absolute;
	right: 0;
	width: 50%;
}

#beeAnswers li {
	list-style: none;
}

#beeChars {
	margin-top: 1vh;
}

#beeChars *, #beeScoreCurrent {
	border-radius: 2vh;
	padding: 1vh;
}

#beeChars *:nth-child(1), #beeScoreCurrent {
	background-color: #F8CD05;
}

#beeChars *:nth-child(n+2){
	background-color: silver;
}

#beeChars *:hover {
	opacity: 50%;
}

#spellingBeeScoreContainer {
	width: 40%;
}

#beeScoreCurrent {
	display: inline-block;
}

#beeReset {
	bottom: 0;
	display: inline-block;
	margin-bottom: 1vh;
	position: absolute;
}

#spellingBeeScoreContainer {
	position: absolute;
	right: 1vh;
	top: 1vh;
}