#spellingBeeContainer {
	background-color: white;
	border-radius: 2vh;
	color: black;
	padding: 1vh;
	position: relative;
}

#beeChars {
	margin-top: 1vh;
}

#beeChars *, #beeScoreCurrent {
	border-radius: 2vh;
	padding: 1vh;
}

#beeChars *:nth-child(1), #beeScoreCurrent {
	background-color: #F8CD05;
}

#beeChars *:nth-child(n+2){
	background-color: silver;
}

#beeChars *:hover {
	opacity: 50%;
}

#spellingBeeScoreContainer {
	width: 40%;
}

#beeScoreCurrent {
	display: inline-block;
}

#spellingBeeScoreContainer {
	position: absolute;
	right: 1vh;
	top: 1vh;
}