.red {background-color:#f00;}
.ora {background-color:#f80;}
.yel {background-color:#cc0;}
.gre {background-color:#0c0;}
.cya {background-color:#0cc;}
.blu {background-color:#00f;}
.brn {background-color:#840;}
.whi {background-color:#fff;}
.gry {background-color:#888;}