html, body {
	user-select: none;
}
.comicContainer {
	position: relative;
}
.comicImg {
	width: 100%;
}
.textBox {
	align-items: center;
	/*background-color: rgba(255, 0, 0, 0.1);
	border: 2px dashed maroon;*/
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
}
#langButtons {
	background-color: beige;
	border: 0.1vw solid black;
	border-radius: 1vw;
	float: right;
}