dl.dictionary dt{
	border-top: 2px solid #444;
}
dl.dictionary img{
	float: right;
}
dl.dictionary > div:hover {
	background-color: #bbb;
}
.lemmaTitle a {
	font-size: 150%;
	text-decoration: none;
}
.warn {
	background-color: #ffc;
	color: #884;
}