.word {
	display: inline-flex;
	flex-direction: column;
	margin: 0 0.2em;
	text-align: center;
	user-select: none;
}
.sample, .word * {
	background-color: black;
	color: silver;
	font-family: monospace;
}
.inline {
	display: inline-block;
}
.inline .gloss {
	display: none;
}
.word *:nth-child(1) {
	background-color: #430;
}
.word *:nth-child(2) {
	background-color: #044;
	font-size: 200%;
}
.word *:nth-child(3) {
	background-color: #404;
}
.sample .word * {
	background-color: black;
}