body, html {
	overflow-x: hidden;
}
.button {
	background-color: silver;
	border: 0.2vh solid black;
	border-radius: 1vh;
	cursor: pointer;
	padding: 0 0.5vh;
	user-select: none;
	-webkit-user-select: none; /* Safari */
}
.button:hover {
	opacity: 0.5;
}
.center {
	display: block;
	margin: 0 auto;
}
#dialectMap {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#dialectMapContainer {
	padding: 0;
	position: relative;
}
#dialectMapContainer img {
	width: 100%;
}
.dialectMapText {
	color: white;
	font-size: 75%;
	position: absolute;
	text-shadow: 0 0 0.5vh black, 0 0 0.5vh black, 0 0 0.5vh black;
}
/* for spoilers in game */
.hidden {
	background-color: black;
	color: transparent;
	user-select: none;
}
.tallTable tr {
	font-size: 1.5em;
	height: 2em;
}
/* Eremoran Font OwO
https://stackoverflow.com/a/24990647/2579798
https://fontstruct.com/fontstructions/show/1995779/eremoran
https://transfonter.org/
symbols for 10-19 are lowercase a-j
*/
@font-face {
	font-family: 'Eremoran';
	src: url('../font/eremoran.eot'); /* IE9 Compat Modes */
	src: url('../font/eremoran.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/eremoran.woff') format('woff'), /* Modern Browsers */
		 url('../font/eremoran.woff2') format('woff2'), /* woff2 */
		 url('../font/eremoran.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/eremoran.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.eremoran {
	font-family: Eremoran;
	text-transform: uppercase;
	font-size: 80%;
}
/* case sensitive for nums/no tooltip */
.eremoran.cs {
	text-transform: none;
}
.eremoran .small {
	font-size: 75%;
}
.eremoran u {
	text-decoration: underline;
	text-decoration-thickness: 0.3vh;
}
.eremoran rt {
	font-family: sans-serif;
	text-transform: none;
	user-select: none;
}
/* eremoran apostrophe */
.eremoran sup {
	margin-right: -0.5em;
	position: relative;
	top: -0.7em;
}
/* kerning */
.eremoran sup.left {
	margin-left: -0.1em;
	margin-right: -0.5em;
	position: relative;
	top: -0.7em;
}
a.eremoran {
	text-decoration: none;
}
#erewrite_container > table {
	width: 100%;
}
#erewrite_container > table tr {
	height: 2em;
}
#eremoran_tooltip {
	background-color: black;
	border: 0.5vh solid grey;
	border-radius: 2vh;
	box-shadow: 2vh 2vh 1vh rgba(0, 0, 0, 0.7);
	color: silver;
	font-size: 75%;
	max-width: 50%;
	padding: 0 1vh 0 1vh;
	position: fixed;
	user-select: none;
}
#eremoran_tooltip img {
	background-color: silver;
	border-radius: 2vh;
}
#eremoran_tooltip .button, #eremoran_tooltip .revealedButton {
	display: none;
}
.eremoranWord {
	padding: 0.4vh;
}
.eremoranWord:hover {
	background-color: grey;
	border-radius: 1vh;
	box-shadow: 0 0 1vh rgba(0, 0, 0, 0.7);
	color: black;
}
.gloss {
	font-size: 80%;
	margin: 0 0 0 0.7vw;
}
.revealedButton {
	background-color: silver;
	border: 0.2vh solid black;
	border-radius: 1vh;
	padding: 0.5vh;
}
#searchResults, #shiritoriAnswers, #shiritoriInputContainer {
	background-color: #bbb;
	border: 0.3vh solid #444;
	border-radius: 2vh;
	column-count: 3;
	column-rule: 0.3vh solid #444;
	list-style: none;
	padding: 2vh;
}
/* wordle */
#wordle_history {
	list-style: none;
}
#wordle_history li {
	margin-top: 2vh;
}
.wordle0, .wordle1, .wordle2 {
	border-radius: 2vh;
	color: silver;
	font-size: 200%;
	margin: 0.5vh;
	padding: 1.4vh 1.9vh 1vh 2.5vh;
}
.wordle0 {
	background-color: black;
}
.wordle1 {
	background-color: olive;
}
.wordle2 {
	background-color: green;
}
/* ereQuote */
#ereQuote {
	background-color: #bbb;
	border: 2px solid #444;
	border-radius: 50px;
	height: 200px;
	line-height: 200px;
	padding-bottom: 25px;
}
#ereQuote > * {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
}
.quoteAuthor {
	float: right;
	font-size: 75%;
	font-style: italic;
	padding-right: 10%;
	text-align: right;
}
.quoteAuthor::before {
	content: '—';
}
/* shiritori */
#shiritoriContainer {
	background-color: #aaa;
	border: 0.3vh solid #444;
	border-radius: 2vh;
	padding: 2vh;
}
#shiritoriAnswers *:last-child {
	color: maroon;
	font-weight: bold;
}
#shiritoriInputContainer {
	text-align: center;
}