body{
	font-family:Consolas, "Courier New", monospace;
}
table{
	width: 100%;
	height: 100%;
}
td{
	border:none;
	text-align: right;
}
th{
	border:none;
	text-align: left;
}
input{
	font-size: x-large;
}
img{
	height: auto;
	width: auto;
	max-height: 400px;
}
#bottom{
	width: 50%;
	height: 100px;
	left: 50%;
	margin-left: -25%;
	position: fixed;
	bottom: 0%;

	border: 4px solid black;
	background-color: #DDD;
}
#left,#right{
	width: 33%;
	height: 100%;
	position: absolute;
}
#left{
	left: 0%;
	border-right: 4px solid black;
}
#right{
	right: 0%;
	border-left: 4px solid black;
}
#hp{
	font-size: 60px;
}
#mid{
	text-align: center;
}
.invisible{
	visibility: hidden;
}
.action{
	height:100%;
    width:34%;
}
.action2{
	height:50%;
    width:100%;
}
.red{
	color:#C00;
}
.yel{
	color:#AA0;
}
.gre{
	color:green;
}