/* categories */
.td{background-color: #5bf;}
.ts{background-color: #0ff;}
.c1{background-color: #ffc;}
.c2{background-color: #fe7;}
.c3{background-color: #fb4;}
.c4{background-color: #f82;}
.c5{background-color: #f66;}
.names{font-size:10px;}