body {
	background-color: black;
	color: white;
	font-family: "Consolas", "monospace";
}
.ithkuil div, .ithkuil tr {
	background-color: white;
	border-radius: 10px;
	color: black;
	font-family: "Calibri", "sans-serif";
	font-size: 12pt;
	padding: 1px 10px;
	margin: 10px;
}
.ithkuil p:nth-of-type(1), .ithkuil td:nth-of-type(3){
	color: red;
	font-family: "Times New Roman", "serif";
	font-weight: bold;
}
/*.ithkuil p:nth-of-type(2){}*/
.ithkuil p:nth-of-type(3){
	font-style: italic;
}