/* edited from https://stackoverflow.com/questions/17629286/css-vertical-line-between-bullets-in-an-unordered-list */
ul.linelist li {
    list-style: none;
    position: relative;
    padding-bottom: 1em;
}

ul.linelist li:after {
    /* bullets */
    content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
    position: absolute;
    left: -25px; /*adjust manually*/
    top: -1px;
}

ul.linelist li:before {
    /* lines */
    content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    border-left: 2px solid #444;
    height: 100%;
    width: 1px;
}

ul.linelist li:first-child:before {
   /* first li's line */
   top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.linelist li:last-child:before {
    /* last li's line */
   height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

ul.linelist li img {
	vertical-align: middle;
}