body{max-width:none;}
div.main{max-width:700px;margin:0 auto;}
img{display:block;margin:0 auto;}
.info{float:right;margin-left:10px;}
table.mid{margin-left:auto;margin-right: auto;}
.navchart{
	background: black;
	border-radius: 10px;
	color: silver;
	font-family: Consolas, "Courier New", monospace;
	line-height: 1;
}
.navchart a{
	color: white;
}
.navchart span{
	font-size: 24px;
	letter-spacing: -3px;
}
.navchart td, .navchart th{
	border: none;
}
.navchart td{
	padding: 5px;
}
.wider{
	display: inline-block;
}
.navchart_star{
	transform: scale(2.25,1);
	margin-left: 33px;
	margin-right: 35px;
}
.navchart_gg{
	transform: scale(1.25,1);
	margin-left: 22px;
}
.navchart_ig{
	padding-bottom: 5px;
}
.navchart_tiny{
	padding-bottom: 10px;
}
#eclipse tr:nth-child(odd){
  background-color: #ccf;
}
#eclipse tr:nth-child(even){
  background-color: #fcc;
}
#eclipse tr:nth-child(1){
  background-color: #bbb;
}
/* coins */
.brass {
	background-color: #CB4;
}
.copper {
	background-color: #C73;
}
.gold {
	background-color: gold;
}
.silver {
	background-color: silver;
}
/* era table */
.eraTable tr th {
	height: calc((700px - 2px*6)/5);
	width: calc((700px - 2px*6)/5);
}