body{
	font-family:monospace;
	max-width: 750px;
	background-color: black;
	color: white;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black;
	font-size: large;
	text-align: left;
}
a{
	color: skyblue;
}
a:visited{
	color: pink;
}
#c1,#c2{
	font-weight: bold;
	margin: -10px;
}
#c1{
	font-size: 60px;
	margin-top: -30px;
}
#c2{
	font-size: xxx-large;
	height: 69px;
	position: relative;
}
#c2Inner{
	bottom: 0;
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
}
.prime{
	color:green;
}
.semiprime{
	color:#C60;
}
.composite{
	color:#08F;
}
.ppower{
	color:#80C;
}
/* Eras */
.cosmological{
	background-color: black;
}
.hadean{
	background-color: #CB0381;
}
.eoarchean{
	background-color: #EE007D;
}
.paleoarchean{
	background-color: #FE5B97;
}
.mesoarchean{
	background-color: #FE7CA3;
}
.neoarchean{
	background-color: #FEA6BA;
}
.paleoproterozoic{
	background-color: #FE5B71;
}
.mesoproterozoic{
	background-color: #FEB872;
}
.neoproterozoic{
	background-color: #FEB757;
}
.cambrian{
	background-color: #81AA72;
}
.ordovician{
	background-color: #00A98A;
}
.silurian{
	background-color: #A6DFC5;
}
.devonian{
	background-color: #DD9651;
}
.carboniferous{
	background-color: #3FAEAD;
}
.permian{
	background-color: #F7583C;
}
.triassic{
	background-color: #994E96;
}
.jurassic{
	background-color: #00BBE7;
}
.cretaceous{
	background-color: #6FC86B;
}
.paleogene{
	background-color: #FEA163;
}
.neogene{
	background-color: #FEDD2D;
}
.gelasian{
	background-color: #FEEEAD;
}
.calabrian{
	background-color: #FEEFC1;
}
.chibanian{
	background-color: #FEF0CC;
}
.tarantian{
	background-color: #FEF1D6;
}
.holocene{
	background-color: #FEF1E0;
}
.copper{
	background-color: #FFDAB9;
}
.bronze{
	background-color: #FFBF00;
}
/* end of wikipedia infobox colors; begin custom colors */
.classical{
	background-color: #eee;
}
.medieval{
	background-color: #444;
}
.renaissance{
	background-color: #EF7EBE;
}
.industrial{
	background-color: #C67537;
}
.modern{
	background-color: #4ABDDA;
}
.atomic{
	background-color: #CEBA47;
}
.information{
	background-color: #91CAD8;
}
.none{
	background-color: magenta;
}