/* recommend.html */
p{text-indent:45px;}
#nav{position:fixed;top:0px;left:0px;padding:10px;background:#333;border:2px solid #ccc;overflow-y:auto;max-height:940px;}
.nav2::before{content:'┕';}
.nav3::before{content:'┃┕';}
details{line-height:16px;}
.desc{text-align:center;font-style:italic;}

.f{color:#f0c}
.f::after{content:"(F)"}
.m{color:#03f}
.m::after{content:"(M)"}
.super{color:#f00;}
.sub{color:#f80}
.y,.y2{color:#0f0}
.y::before{content:"(20"}
.y2::before{content:"("}
.y::after,.y2::after{content:")"}