body {
	margin: 0;
}
details, #stats_container {
	background-color: #ccc; /* default clade */
	border: 0.2vw solid #888;
	border-radius: 1vw;
	padding: 0 0.4vw 0.4vw 0.4vw;
}
p {
	font-style: italic;
	margin: 0;
	max-width: 700px;
	text-indent: 45px;
}
abbr{
	text-decoration: underline;
	cursor: help;
}
summary a {
	font-style: italic;
}
.age {
	font-size: small;
	font-weight: bold;
}
.authority, summary .age:first-of-type {
	margin-left: 0.5vw;
}
.authority, .develop, .genetic, .openAll, .range {
	font-size: x-small;
	font-weight: bold;
}
.develop, .genetic, .openAll {
	margin-left: 5px;
}
.genetic::before {
	content: 'Ï‡('
}
.genetic::after {
	content: ')';
}
/* taxonomic ranks */
.domain {
	background-color: #f88;
}
.kingdom {
	background-color: #fc8;
}
.phylum, .division {
	background-color: #ff8;
}
.class {
	background-color: #8f8;
}
.order {
	background-color: #88f;
}
.family {
	background-color: #c8f;
}
.genus {
	background-color: #c8c;
}
.species {
	background-color: #f8f;
}
#controls {
	line-height: 150%;
	padding: 1vw;
	text-align: center;
}
#search_div{
	display: inline-block; /* make div no larger than ol */
	text-align: left;
}
/* stats */
#stats_container {
	display: grid;
	grid-template-columns: 1fr 1fr; /* two equal columns */
}
.spec {
	box-sizing: border-box;
	width: 100%; /* each item fills its grid cell */
}
.padding {
	padding-bottom: 20vh;
	padding-top: 20vh;
}
/* time buttons */
.neogene {
	background-color: rgb(255,230,25);
}
.paleogene {
	background-color: rgb(253,154,82);
}
.cretaceous {
	background-color: rgb(127,198,78);
}
.jurassic {
	background-color: rgb(52,178,201);
}
.triassic {
	background-color: rgb(129,43,146);
}
.permian {
	background-color: rgb(240,64,40);
}
.carboniferous {
	background-color: rgb(103,165,153);
}
.devonian {
	background-color: rgb(203,140,55);
}
.silurian {
	background-color: rgb(179,225,182);
}
.ordovician {
	background-color: rgb(0,146,112);
}
.cambrian {
	background-color: rgb(127,160,86);
}
.ediacaran {
	background-color: rgb(254,217,106);
}