body {
	margin: 0px;
}
details {
	background-color: #ccc; /* default clade */
	border: 1px solid #888;
	padding: 0px 10px 10px 10px;
}
p {
	font-style: italic;
	margin: 0px;
	max-width: 700px;
	text-indent: 45px;
}
abbr{
	text-decoration: underline;
	cursor: help;
}
.important {
	color: red;
	font-size: large;
	font-weight: bold;
}
.age {
	font-size: small;
	font-weight: bold;
}
.genetic, .openAll, .range {
	font-size: x-small;
	font-weight: bold;
}
.genetic, .openAll {
	margin-left: 5px;
}
.genetic::before {
	content: 'χ('
}
.genetic::after {
	content: ')';
}
/* taxonomic ranks */
.domain {
	background-color: #f88;
}
.kingdom {
	background-color: #fc8;
}
.phylum, .division {
	background-color: #ff8;
}
.class {
	background-color: #8f8;
}
.order {
	background-color: #88f;
}
.family {
	background-color: #c8f;
}
.genus {
	background-color: #c8c;
}
.species {
	background-color: #f8f;
}
#controls {
	line-height: 150%;
	padding: 10px;
	text-align: center;
}
#search_div{
	display: inline-block; /* make div no larger than ol */
	text-align: left;
}