body{margin:40px auto;max-width:700px;line-height:1.6;font-size:18px;color:#ccc;padding:0 10px;background-color:#111;text-align:justify;}
p{text-indent:30px;}
a{color:#08f}
table,th,td{border: 2px solid #ccc;border-collapse: collapse;text-align:center;margin: 0px auto;}
#nav{position:fixed;top:0px;left:0px;padding:10px;background:#333;border:2px solid #ccc;text-align:center;}
#top,#bottom{text-align:center;}