body{
	font-family:monospace;
}
td{
	border:none;
}
#bottom{
	width: 500px;
	height: 100px;
	left: 50%;
	margin-left: -250px; /* HALF of the width */
	position: fixed;
	bottom: 0px;

	border: 4px dotted black;
	background-color: #DDD;
}
#left,#right,#center{
	width: 150px;
	height: 100px;
	position: absolute;
	text-align: left;
}
#left{
	left: 5px;
	border-right: 4px dotted black;
	padding-right: 4px;
}
#right{
	right: 5px;
	border-left: 4px dotted black;
	padding-left: 4px;
	text-align: center;
}
#hp{
	font-size: 60px;
}
#mid{
	text-align: center;
}
.invisible{
	visibility: hidden;
}
.action{
	font-size: 40px;
}
.red{
	color:#C00;
}
.yel{
	color:#AA0;
}
.gre{
	color:#0C0;
}