body{
	font-size:18px;
	font-family:sans-serif;
	padding:0 10px;
	text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    width:30em;
    height:30em;
    margin-top:-6em;
    margin-left:-15em;
}
img{
	filter:brightness(0)
}