body{margin:40px auto;max-width:700px;line-height:1.6;font-size:18px;color:#444;padding:0 10px;background-color:#eee;text-align:justify;}
h1,h2,h3{line-height:1.2}
table,th,td{border: 2px solid #444;border-collapse: collapse;}
code{font-family: "Courier New",monospace;font-style: italic;color:#88c;}
/*edited from bettermotherfuckingwebsite.com*/