body{
	font-size:18px;
	font-family:Open Sans,sans-serif;
	text-align:center;
	position:absolute;
	left:50%;
	width:24em;
	margin-left:-12em;
	background-color:#ccc;
	color:#333;
}
#result{
	text-align:justify;
}
#foot{
	text-align:center;
	font-size:10px;
}
#namei{
	background:#eee;
	border-radius:25px;
	border:2px solid #444;
	padding-left:20px;
	padding-right:20px;
	margin-top:9px;
}
#namei h3{
	text-align:center;
}
#namei p{
	text-align:justify;
	text-indent:45px;
}
#namei a{
	display:inline-block;
	margin-bottom:20px;
}