body{
	font-size:18px;
	font-family:sans-serif;
	color:#333;
	padding:0 10px;
	background-color:#ccc;
	text-align: center;
    position:absolute;
    left:50%;
    width:30em;
    margin-left:-15em;
}
#result{
	text-align:justify;
	font-family:serif;
}
#foot{
	text-align:center;
	font-size:10px;
}