html{color:#000;font-family:"Courier New";margin:40px auto;}
h1{font-size:36px;text-shadow:0px 0px 0px #000;margin:10px;}
a{color:#000;font-family:"Courier New";text-decoration:underline;}
b,.f,.m,.sub{color:#000}
#nav{display:none;}
#top,#bottom{text-align:center;}
#m{filter:brightness(0);}
.new{list-style-image:url('img/newprint.png');}
.up{list-style-image:url('img/upprint.png');}
h3,p{text-indent:45px;}
h3::before,h3::after{content:'~~~';}