html {background-color:#000;color:#0ff;font-family:"Courier New";background-image: url("bgtile_grey.png");}
h1 {font-size: 48px;text-shadow: 0px 0px 20px #0ff;}
hl {color:#f00;}
a {color:#0ff;font-family:"Courier New";text-decoration:underline;}
a:hover { text-shadow: 0 0 10px #0ff;}
q {color:#0cc;border: 2px solid #0ff;padding-left:3em;padding-right:.5em;border-radius:10px}
overline {text-decoration: overline;}
doubleoverline {border-top: 3px double;}
@font-face {font-family: "d"; src: url('d.ttf');}
d {font-family: d, Courier New;}
.particle {border-bottom: 1px solid #f0f}
.noun {border-bottom: 1px solid #f00}
.verb {border-bottom: 1px solid #ff0}
.image-shake {
    display: inline-block;
    animation-name: anim-shake;
    animation-duration: 0.8s;
    transform-origin: 50% 50% 0px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.spin {animation: spin 2s linear infinite;}
.xspin {animation: xspin 2s linear infinite;}
.yspin {animation: yspin 2s linear infinite;}
.aspin {animation: aspin 2s linear infinite;}
.spinthree {animation: spinthree 2s linear infinite;}
.shakeno {animation: shakeno 1s linear infinite;}
.flag {animation: flag 2s linear infinite;}
.slide {animation: slide 8s ease infinite;}
.slideg {animation: slideg 32s ease infinite;}
.slideg:hover { animation: scalehuge 4800s linear 1;}
.shift {animation: slide 8s linear infinite;}
.intensifies {animation: intensifies .2s linear infinite;}
.chaos {animation: chaos .5s ease infinite;}
.rainbow {animation: rainbow 1s linear infinite;}
.roygbiv {animation: roygbiv 1s linear infinite;}
/* BROKEN: slide, shift, intensifies
https://www.reddit.com/r/betterponymotes/comments/1y7vel/complete_list_of_tags_cheat_sheet/
https://developer.mozilla.org/en-US/docs/Web/CSS/transform
 */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes xspin { 100% { -moz-transform: rotateX(360deg); } }
@-webkit-keyframes xspin { 100% { -webkit-transform: rotateX(360deg); } }
@keyframes xspin { 100% { -webkit-transform: rotateX(360deg); transform:rotateX(360deg); } }
@-moz-keyframes yspin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes yspin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes yspin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }
@-moz-keyframes aspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes aspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes aspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@keyframes spinthree {
	0% { transform: none;}
	30% { transform:rotateX(90deg) rotateY(180deg) rotate(-90deg); }
	70% { transform:rotateX(360deg) rotateY(360deg) rotate(360deg); }
	100% { transform: none;}
}

@keyframes shakeno {
	0% { transform: skewX(20deg);}
	50% { transform: skewX(-20deg); }
	100% { transform: skewX(20deg);}
}

@keyframes flag {
	0% { transform: skewY(5deg);}
	50% { transform: skewY(-5deg);}
	100% { transform: skewY(5deg);}
}

@keyframes slide {
	0% { transform: none;}
	40% { transform: translateX(400px);}
	50% { transform: translateX(400px) rotateY(180deg);}
	90% { transform: rotateY(180deg);}
	100% { transform: none;}
}

@keyframes slideg {
	0% { transform: translateX(-400px);}
	40% { transform: translateX(400px);}
	50% { transform: translateX(400px) rotateY(180deg);}
	90% { transform: translateX(-400px) rotateY(180deg);}
	100% { transform: translateX(-400px);}
}

@keyframes intensifies {
	0% { transform: none;}
	10% { transform: translateX(1px);}
	20% { transform: translateY(1px);}
	30% { transform: translateX(-1px);}
	40% { transform: translateY(1px);}
	50% { transform: translateX(1px);}
	60% { transform: translateX(1px) translateY(-1px);}
	70% { transform: translateX(1px) translateY(1px);}
	80% { transform: translateX(1px) translateY(-1px);}
	90% { transform: translateX(-1px) translateY(1px);}
	100% { transform: none;}
}

@keyframes chaos {
	0% { transform: none;}
	10% { transform: translateX(400px) skewX(-20deg);}
	20% { transform: translateY(401px) skewY(-200deg);}
	30% { transform: translateX(-400px) skewX(20deg);}
	40% { transform: translateY(400px) skewY(210deg) skewX(-20deg);}
	50% { transform: translateX(440px) skewX(20deg);}
	60% { transform: translateX(10px) translateY(-400px);}
	70% { transform: translateX(400px) translateY(400px) skewY(200deg) skewX(-20deg);}
	80% { transform: translateX(400px) translateY(-402px) skewX(-20deg);}
	90% { transform: translateX(-400px) translateY(400px) skewY(-200deg);}
	100% { transform: none;}
}

@keyframes scalehuge {
	100% { transform: scale(1024);}
}

@keyframes rainbow {
    0%    {background-color: #f00;}
    10%   {background-color: #f90;}
    20%   {background-color: #cf0;}
    30%   {background-color: #3f0;}
    40%   {background-color: #0f6;}
    50%   {background-color: #0ff;}
    60%   {background-color: #06f;}
    70%   {background-color: #30f;}
    80%   {background-color: #c0f;}
    90%   {background-color: #f09;}
    100%  {background-color: #f00;}
}

@keyframes roygbiv {
    0%    {background-color: #f00;}
    17%   {background-color: #f80;}
    33%   {background-color: #ff0;}
    50%   {background-color: #0f0;}
    67%   {background-color: #00f;}
    83%   {background-color: #808;}
    100%  {background-color: #f00;}
}