html {color:#000;font-family:"Courier New";margin:40px auto;max-width:800px;padding:0 10px;}
h1 {font-size: 36px;text-shadow: 0px 0px 0px #000;}
b {color:#000;}
a {color:#000;font-family:"Courier New";text-decoration:underline;}
.f {color:#000}
.m {color:#000}
.sub {color:#000}
.new {color:#000}
#nav,#mb{display:none;}
#top{text-align:center;}
#bottom{text-align:center;}
#m{position:relative;left:0px;}