body, html {
	background-color: black;
	color: silver;
	font-family: sans-serif;
	font-size: 3vh;
}
.button {
	background-color: #cef;
	border: 0.5vh solid #08f;
	border-radius: 1vh;
	box-shadow: 0 0 2vh #08f;
	color: #024;
	cursor: pointer;
	display: inline-block;
	margin: 0.3vh;
	padding: 0 0.3vh 0 0.3vh;
	user-select: none;
}
.button:hover {
	opacity: 0.6;
}
.button:active {
	opacity: 0.36;
}
/* kvp table start */
.kvpTable {
	border-collapse: collapse;
	border-radius: 1vh;
	box-shadow: 0 0 0 0.5vh white;
	color: black;
	margin: 1vh;
	overflow: hidden;
}
.kvpTable td {
	padding: 1vh;
}
.kvpTable tr:nth-child(even){
	background-color: #ccc;
}
.kvpTable tr:nth-child(odd){
	background-color: #eee;
}
.kvpKey {
	text-align: right;
}
.array::before {
	content: '[';
}
.array::after {
	content: ']';
}
.spacer {
	margin: 0 0.3vh 0 0.3vh;
}
.array > .spacer::before {
	content: ',';
}
/* kvp table end */