html, body, #table, td div {
	background-color: black;
	color: #222;
	height: 100%;
	font-family: DejaVu Sans, sans-serif;
	margin: 0;
	/* overflow: hidden; */
	width: 100%;
}
h2, h3, p {
	color: silver;
	margin-left: 1vw;
}
a {
	color: cornflowerblue;
}
table {
	table-layout: fixed;
}
td {
	font-size: 1.7vh;
	height: 10%;
	line-height: 2.5vh;
	padding: 0;
	padding-right: 4px;
	text-align: center;
	width: calc(100% / 18);
}
.smaller {
	font-size: 80%;
}
/* svg bs */
svg {
	background-color: white;
	display: block;
	font-family: DejaVu Sans Condensed, sans-serif;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
circle {
	stroke: black;
	stroke-width: 1px;
}
line {
	marker-end: url(#Arrow2Mend);
	stroke: black;
	stroke-width: 1;
}
.darkRect {
	fill: #eee;
	height: 60px;
	width: 300%;
}
.decayLabel {
	font-style: italic;
}
.halfLife {
	font-size: 70%;
	text-anchor: middle;
}
.fraction, .subscript, .superscript {
	font-size: 50%;
}
.subscript, .superscript {
	text-anchor: end;
}
.svgLabel {
	fill: #555;
}
.symbol {
	font-size: 150%;
	font-weight: bold;
}