html, body, #table, td div {
	background-color: black;
	color: #222;
	height: 100%;
	margin: 0;
	/* overflow: hidden; */
	width: 100%;
}
td {
	font-size: 2vh;
	height: 10%;
	padding: 0;
	padding-right: 4px;
	text-align: center;
	width: calc(100% / 18);
}
.smaller {
	font-size: 80%;
}
/* svg bs */
svg {
	background-color: white;
	height: 200%;
	width: 100%;
}
circle {
	stroke: black;
	stroke-width: 1px;
	r: 30px;
}
line {
	marker-end: url(#Arrow2Mend);
	stroke: black;
	stroke-width: 1;
}
.halfLife {
	font-size: 75%;
}
.subscript, .superscript {
	font-size: 50%;
}
.symbol {
	font-size: 150%;
	font-weight: bold;
}