html {
	user-select: none;
}
.building, .resource {
	border-radius: 10px;
	display: inline-block;
	margin: 2px;
	padding: 10px;
	width: fit-content;
	vertical-align: middle;
}
.building {
	background-color: rgba(0, 0, 255, 0.25);
	border: 2px solid blue;
}
.resource {
	background-color: rgba(0, 255, 0, 0.25);
	border: 2px solid lime;
}
.hidden {
	display: none;
}