body, html {
	background-color: black;
	color: black;
	cursor: default;
	/* Eurostile is the exact font.
	https://www.whatfontis.com/Eurostile-Extended-Black-urw.similar
	Grammara and Federation are the two closest free fonts.
	I added Roboto for Ubuntu.
	Otherwise, use whatever sans-serif font is available. */
	font-family: Eurostile, Grammara, Federation, Roboto, sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
	user-select: none;
}
/* main */
#top, #bottom {
	width: 100%;
}
#top {
	height: 10%;
}
#bottom {
	height: 90%;
}
#left, #middle, #right {
	height: 100%;
	position: absolute;
}
#left {
	left: 0;
	width: 25%;
}
#right {
	left: 75%;
	width: 25%;
}
/* middle */
#middle {
	left: 25%;
	width: 50%;
}
#cases {
	height: 75%;
	padding: 5px;
	text-align: center;
}
#bottomText {
	height: 25%;
	padding: 10px;
	position: absolute;
	top: 70%;
	width: calc(100% - 30px);
}
/* help */
#top > *:nth-child(2) {
	left: 50%;
}
.help {
	height: calc(10% - 10px);
	position: absolute;
	width: 50%;
	z-index: 100;
}
.help > span {
	display: block;
	font-weight: bold;
	line-height: 8vh;
	height: 100%;
	text-align: center;
}
.help > div {
	display: none;
	padding: 2%;
}
.help:hover > div {
	display: block;
}
/* pretty gold shit */
#bottomText, .value, .help > * {
	background-color: #DCD177; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, #989043, #DCD177, #989043);
	border: 5px outset #989043;
	font-size: 5vh;
}
/* cases */
.case {
	background-color: silver; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, #eee, silver);
	border: 5px outset grey;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 5vh;
	height: calc((90% - 10px)/4 - 20px); /* 5*2px for container padding, 5*2 for border, 5*2 for margin */
	line-height: 14vh;
	margin: 5px;
	width: calc((90% - 10px)/7 - 20px); /* 5*2px for container padding, 5*2 for border, 5*2 for margin */
}
.case:active:not(.chosen) {
	opacity: 75%;
}
/* values */
.value {
	font-weight: bold;
	height: calc(90%/13 - 10px);
	padding: 0 5% 0 5%;
	text-align: right;
}
.value::before {
	content: '$ ';
	left: 5%;
	position: absolute;
	text-align: left;
	width: 10%;
}
.chosen {
	cursor: default;
}
.opened { /* opened cases */
	cursor: default;
	opacity: 40%;
}
.case.chosen {
	/* quadratic */
	animation: flyDown 1s cubic-bezier(0.55, 0, 1, 1) forwards 1;
}
.value.opened {
	animation: flip 1s linear normal 1;
}
@keyframes flip {
	0% {opacity: 100%;}
	50% {transform: rotateX(180deg);}
	100% {opacity: 40%;}
}
@keyframes flyDown {
	to {transform: translateY(600%);} /* approximately enough to go out of view */
}