html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}
html, body, button, input, textarea {
	font-family: Consolas, "Courier New", monospace;
	font-size: 2vh;
}
textarea {
	margin-bottom: -0.7%;
}
#controls, #plot {
	height: 50%;
	width: 100%;
}
#controls {
	background-color: black;
	color: silver;
	padding: 1%;
}
.error {
	color: red;
}
.success {
	color: green;
}