html, body {
	font-family: Consolas, "Courier New", monospace;
	font-size: 3vh;
	height: 100%;
	margin: 0;
	width: 100%;
}
input {
	font-family: Consolas, "Courier New", monospace;
}
#controls, #plot {
	height: 50%;
	width: 100%;
}
#controls {
	background-color: black;
	color: silver;
	padding: 1%;
}
#error {
	color: red;
}