html{
	color: #0ff;
	font-family: Consolas, "Courier New", monospace;
	background-color: #000;
}
form{
	border: none;
}
p{
	text-indent: 45px;
}
abbr{
	text-decoration: none;
	animation: strobe 1s linear alternate infinite;
	cursor: help;
}
#leftinfo{
	background-color: #444;
    float: left;
    position: absolute;
    bottom: 0px;
}
#selector{
	background-color: #422;
    float: left;
}
#timecontrols{
	background-color: #422;
    float: right;
    text-align: right;
}
#map{
	font-size: 200%;
}
.planet{
	color: silver;
}
.star{
	color: yellow;
}
.selected{
	animation: selectionstrobe 1s linear alternate infinite;
}

@keyframes selectionstrobe{
	0% {color: red;}
	100% {color: silver;}
}
@keyframes strobe{
	0% {border-bottom:1px solid transparent;}
	100% {border-bottom:1px solid cyan;}
}