html {
	background-color: black;
	color: cyan;
	font-family: Consolas, "Courier New", monospace;
	font-size: 1.7vh;
	margin: 0;
	overflow: hidden;
}
input {
	font-size: 1.7vh;
}
body {
	margin: 0;
}
p {
	text-indent: 3vw;
}
abbr {
	animation: strobe 1s linear alternate infinite;
	cursor: help;
	text-decoration: none;
}
th {
	text-align: right;
}
h2 {
	text-align: center;
}
svg {
	height: 100%;
	position: absolute;
	user-select: none;
	width: 100%;
	z-index: -1;
}
ul {
	list-style-type: none;
}
.red {
	color: red;
}
.green {
	color: lime;
}
.orbitBarScale, #orbitBarF, #orbitBarH {
	border-radius: 10px;
	bottom: calc(100% + 4px);
	color: white;
	font-size: x-small;
	height: 20px;
	line-height: 200%;
	margin-left: -10px; /* to account for the fact bubbles are 20px wide */
	position: absolute;
	user-select: none;
	width: 20px;
}
.orbitBarScale {
	background: linear-gradient(cyan, teal);
}
#orbitBarF {
	background: linear-gradient(darkViolet, indigo);
}
#orbitBarH {
	background: linear-gradient(lime, green);
}
#orbitBarHLine {
	background: linear-gradient(rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.5));
	border-radius: 20px 20px 0 0;
	bottom: 100%;
	height: 75%;
	position: absolute;
}
.orbitBarScale:after, #orbitBarF:after, #orbitBarH:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom: 0;
	margin-left: -5px;
	margin-bottom: -4px;
}
.orbitBarScale:after {
	border-top-color: teal;
}
#orbitBarF:after {
	border-top-color: indigo;
}
#orbitBarH:after {
	border-top-color: green;
}
.planet {
	cursor: pointer;
	fill: darkGrey;
	r: 3;
	stroke: transparent;
	stroke-width: 2;
}
.destroyed {
	display: none;
}
.gasGiant {
	fill: tan;
}
.iceGiant {
	fill: #0cc;
}
.desert {
	fill: orange;
}
.terra {
	fill: seaGreen;
}
.tundra, .iceball {
	fill: powderblue;
}
.phw {
	fill: lime;
}
.star, .corona {
	cx: 50%;
	cy: 50%;
}
.star {
	fill: url(#starGradient);
}
.corona {
	fill: url(#coronaGradient);
}
.selected {
	animation: selectionstrobe 0.5s linear alternate infinite;
}
.selectedOld {
	animation: selectionStrobeOld 0.5s linear alternate infinite;
}
.quest {
	stroke: cyan;
	stroke-width: 1;
}
.colony {
	stroke: teal;
	stroke-width: 2;
}
.supsub {
	display: block;
}
#leftinfo {
	background-color: rgba(64, 64, 64, 0.5);
	bottom: 0;
	font-size: 75%;
	left: 0;
	position: absolute;
}
#nojs {
	background-color: black;
	line-height: 300%;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}
#selector {
	background-color: rgba(128, 64, 64, 0.5);
    float: left;
}
#timecontrols {
	background-color: rgba(128, 64, 64, 0.5);
	position: absolute;
	top: 8%;
}
#map {
	font-size: 200%;
	user-select: none;
	z-index: 0;
}
#rightinfo {
	background-color: rgba(64, 64, 128, 0.5);
	overflow-x: hidden;
	overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
	width: 25%;
}
#righttabs span {
	border: 2px solid cyan;
	border-radius: 6px;
	cursor: pointer;
	line-height: 25px;
}
#resourcebar {
	background-color: rgba(64, 64, 128, 0.5);
	left: 50%;
	margin-left: -15%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30%;
}
#orbitbar, #orbitbarUpper {
	bottom: 0;
	height: 3%;
	left: 50%;
	margin-left: -25%;
	position: absolute;
	text-align: center;
	width: 50%;
}
#orbitbar {
	background-color: rgba(64, 64, 64, 0.5);
}
#orbitbar div {
	cursor: pointer;
	height: 100%;
	position: absolute;
}
@keyframes selectionstrobe {
	0% {r:5;}
	100% {}
}
@keyframes selectionStrobeOld {
	0% {fill: gold;}
	100% {color: transparent;}
}
@keyframes strobe {
	0% {border-bottom:1px solid transparent;}
	100% {border-bottom:1px solid cyan;}
}