:root {
	--cellSize: 3.5vw;
}

.date {
	color: red;
}

/* for character labels */

.char_D {
	color: blue;
	font-weight: bold;
}

.char_R {
	color: red;
	font-weight: bold;
}

/* for map */

#map {
	border-collapse: collapse;
}

#map td {
	height: var(--cellSize);
	text-align: center;
	text-shadow: 1px 1px 2px black;
	width: var(--cellSize);
}

.party_R {
	background-color: red;
}

.party_D {
	background-color: blue;
}

.swing {
	border-color: gold;
	border-style: dashed;
}