:root {
	--cellSize: 3.5vw;
}

.date {
	color: red;
}

/* for character labels */

.char_D {
	color: blue;
}

.char_G {
	color: green;
}

.char_I {
	color: olive;
}

.char_J {
	color: brown;
}

.char_L {
	color: yellow;
}

.char_R {
	color: red;
}

.char_D, .char_G, .char_I,
.char_J, .char_L, .char_R,
.gender {
	font-weight: bold;
}

/* for map */

#map {
	border-collapse: collapse;
}

#map td {
	height: var(--cellSize);
	text-align: center;
	text-shadow: 1px 1px 2px black;
	width: var(--cellSize);
}

.party_R {
	background-color: red;
}

.party_D {
	background-color: blue;
}

.swing {
	border-color: gold;
	border-style: dashed;
}