body, html, table {
	border-collapse: collapse;
	font-size: 4vh;
	height: 100%;
	margin: 0;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	width: 100%;
}

td {
	border: 1px solid #888;
	height: calc(100% / 12);
	width: calc(100% / 13);
}

.black {
	background-color: black;
	color: white;
}

.bungus {
	border: none;
}
/*
.tooLow {
	border: 1px solid red;
}
*/
.effectButton, .waveformButton {
	font-size: 2vh;
}
.activeEffect {
	background-color: pink;
}