html{
	font-family: Consolas, "Courier New", monospace;
	overflow: hidden;
}
.blackSquare, .whiteSquare{
	width: 11.1%;
	height: 11.1%;
}
.blackSquare{
	background-color: #000;
	color: #fff;
}
.whiteSquare{
	background-color: #fff;
	color: #000;
}
#board{
	background-color: #444;
	color: #ccc;
	font-size: 200%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
}
#left{
	background-color: #888;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 25%;
}