body, .back a {
	font-family: monospace;
	background-color: black;
	color: white;
	padding: 0px 20px;
}
a {
	color: cyan;
}
a:visited {
	color: magenta;
}
.back {
    margin: auto;
    text-align: center;
}
.back a {
    padding: 2px 8px;
    border-radius: 8px;
}