body, .back a {
	font-family: monospace;
	background-color: black;
	color: white;
	padding: 0px 20px;
}
a {
	color: cyan;
}
a:visited {
	color: magenta;
}
tr:has(th) {
	background-color: #444;
	position: sticky;
	top: 0;
	z-index: 1;
}
.back {
	margin: auto;
	text-align: center;
}
.back a {
	padding: 2px 8px;
	border-radius: 8px;
}
.center {
	margin: 0px;
	right: 50%;
	bottom: 50%;
	transform: translate(50%,50%);
	position: absolute;
}
/* alt link style */
.altlink {
	color: white;
	text-decoration: none;
}
.altlink:visited {
	color: white;
}
.altlink:hover {
	color: grey;
	cursor: pointer;
}
.notouch {
	user-select: none;
}