html, body {
	background-color: black;
	color: silver;
	font-family: monospace;
	font-size: 1.5vh;
	overflow: hidden;
	margin: 0;
	user-select: none;
}
h1,h2,h3,h4,h5 {
	text-align: center;
}
#priceListContainer {
	height: 50vh;
	left: 0;
	padding: 1vh 1vw;
	position: absolute;
	top: 0;
	width: 49vw;
}
.price {
	color: gold;
}
.price:hover {
	color: #fe8;
	text-shadow: 0 0 2px gold;
}
#playerContainer {
	height: 50vh;
	padding: 1vh 1vw;
	position: absolute;
	top: 0;
	right: 0;
	width: 49vw;
}
#map {
	background-color: beige;
	bottom: 0;
	height: min(50vh, 100vw);
	left: calc(50vw - min(25vh, 50vw));
	position: absolute;
	margin: 0 auto;
	width: min(50vh, 100vw);
}
.mapIcon {
	background-color: maroon;
	border-radius: 1em;
	height: 1em;
	position: absolute;
	width: 1em;
}
.mapIcon.location {
	background-color: red;
	border: 1px solid maroon;
}
.mapIcon.location:hover {
	cursor: auto;
}
.mapIcon:hover {
	background-color: red;
	cursor: pointer;
}
.buySellContainer {
	position: absolute;
	right: 0;
}
.buySellContainer input {
	max-height: 0.5em;
	max-width: 3em;
}