html, body {
	background-color: black;
	color: silver;
	font-family: monospace;
	font-size: 1.55vh;
	overflow: hidden;
	margin: 0;
	user-select: none;
}
h1,h2,h3,h4,h5 {
	text-align: center;
}
.button {
	cursor: pointer;
}
.button:hover {
	opacity: 75%;
}
.button:active {
	opacity: 50%;
}
#priceListContainer {
	height: 50vh;
	left: 0;
	padding: 1vh 1vw;
	position: absolute;
	top: 0;
	width: 49vw;
}
.price {
	color: gold;
}
.price:hover {
	color: #fe8;
	text-shadow: 0 0 2px gold;
}
#playerContainer {
	height: 50vh;
	padding: 1vh 1vw;
	position: absolute;
	top: 0;
	right: 0;
	width: 49vw;
}
#map {
	background-color: beige;
	border-radius: min(4vh, 8vw);
	bottom: 0;
	height: min(50vh, 100vw);
	left: calc(50vw - min(25vh, 50vw));
	position: absolute;
	margin: 0 auto;
	width: min(50vh, 100vw);
}
.mapIcon {
	background-color: #444;
	border-radius: 1em 1em 0 0;
	height: 1em;
	position: absolute;
	width: 1em;
}
.mapIcon.location, .mapIcon:hover {
	background-color: silver;
	border: 1px solid #444;
	cursor: pointer;
}
.mapIcon.location:hover {
	cursor: auto;
}
.buySellContainer {
	position: absolute;
	right: 0;
}
.buySellContainer input {
	max-height: 0.7em;
	max-width: 3em;
}
.buyMaxButton, .buyNoneButton, .sellMaxButton, .sellNoneButton {
	display: inline-block;
	font-size: 50%;
	position: relative;
	text-align: center;
	width: 3vw;
}
.buyMaxButton, .sellMaxButton {
	background-color: maroon;
	top: -0.9em;
}
.buyNoneButton, .sellNoneButton {
	background-color: #444;
	margin-left: -3vw;
	top: 0.4em;
}
.buyButton, .sellButton {
	background-color: #444;
	display: inline-block;
	margin-left: 0.2em;
	text-align: center;
	width: 5vw;
}
.sellContainer {
	margin-left: 2vw;
}
#saveContainer {
	bottom: 0;
	color: red;
	position: absolute;
	left: 0;
}
#saveContainer * {
	background-color: #400;
	padding: 1vh 1vw;
}
#version {
	bottom: 0;
	color: gray;
	font-size: 75%;
	position: absolute;
	right: 0;
}