html {
	background-color: black;
	color: silver;
	overflow: hidden;
	user-select: none;
}
body {
	margin: 0;
}
.datum {
	background-color: red;
	border-radius: 50%;
	height: 5px;
	position: absolute;
	width: 5px;
}
#galacticDisk {
	background-color: #446;
	border-radius: 50%;
	width: 0;
	position: absolute;
}
#scaleWrapper {
	left: 0;
	position: absolute;
	text-shadow: 2px 2px 5px black;
	top: 0;
}
#tooltip {
	border: 1px solid black;
	color: black;
}