html {
	background-color: black;
	color: silver;
	overflow: hidden;
	user-select: none;
}
body {
	margin: 0;
}
.altitude {
	border: 1px dashed red;
	opacity: 0.5;
	position: absolute;
	width: 0;
}
.datum {
	background-color: red;
	border-radius: 50%;
	position: absolute;
}
#scaleWrapper {
	left: 0;
	position: absolute;
	text-shadow: 2px 2px 5px black;
	top: 0;
}
#tooltip {
	border: 1px solid black;
	color: black;
}
#tooltip * {
	padding: 5px;
}