body {
	background-color: black;
	color: silver;
	font-family: Consolas, 'Courier New', Courier, monospace;
	margin: 40px auto;
	max-width: 700px;
}
h1, h2, h3 {
	text-align: center;
}
hr {
	border: 1px solid silver;
	border-color: grey;
	border-radius: 1px;
}
/* classes */
.center {
	text-align: center;
}
.shorterHr {
	border-color: #444;
	width: 80%;
}
.tag {
	color: #8ff;
	cursor: pointer;
	margin-right: 0.5em;
	user-select: none;
}
.tag:hover {
	opacity: 0.5;
}
.tag:active {
	opacity: 0.25;
}
.tagList {
	color: #f8c;
}
/* mobile */
@media only screen and (max-width: 750px) {
	body {
		font-size: 112.5%;
		padding: 0 30px;
	}
}