html, body {
	background-color: black;
	color: white;
	font-family: Consolas, monospace;
	height: 100%;
	margin: 0;
	overflow: hidden;
	user-select: none;
}
h2 {
	margin: 0;
}
ol, ul {
	margin: 0;
	padding: 5px 0 5px 20px;
}
.faded {
	opacity: 0.5;
}
.invisible {
	display: none;
}
#left, #right {
	height: 100%;
	position: absolute;
	top: 0;
	width: 50%;
}
#load, #loadContainer {
	height: 100%;
	width: 100%;
}
#load {
	background-color: #022;
}
#loadPercent {
	font-size: 10vh;
}
/* inside left */
#clock {
	left: 5px;
	position: absolute;
	top: 0;
}
#left {
	text-align: center;
}
#rarity {
	font-weight: bold;
}
#version {
	bottom: 0;
	left: 5px;
	position: absolute;
}
/* inside right */
#right {
	left: 50%;
}
#invList {
	columns: 2;
	padding-left: 60px;
}
#techs, #recipes, #inventory {
	width: 100%;
}
#techList, #recipeList, #invList {
	max-height: calc(100% / 3);
	overflow-y: auto;
}
#recipeList > li, #techList > li {
	cursor: pointer;
}