html, body {
	background-color: black;
	color: white;
	font-family: Consolas, monospace;
	height: 100%;
	margin: 0;
	overflow: hidden;
	user-select: none;
}
h2 {
	margin: 0;
}
ol, ul {
	columns: 2;
}
.invisible {
	display: none;
}
#left, #right {
	height: 100%;
	padding: 10px;
	position: absolute;
	width: 50%;
}
/* inside left */
#left {
	text-align: center;
}
#rarity {
	font-weight: bold;
}
#version {
	bottom: 10px;
	left: 10px;
	position: absolute;
}
/* inside right */
#right {
	left: 50%;
}
#techs, #recipes, #inventory {
	height: calc(100% / 3);
	width: 100%;
}
#recipeList > li, #techList > li {
	cursor: pointer;
}