html, body {
	background: repeating-linear-gradient(
	  90deg,
	  #1E506C,
	  #1E506C 32px,
	  #1B4862 32px,
	  #1B4862 64px
	);
	color: white;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
.buy_button {
	background-color: #a99;
	border: 6px solid #444;
	font-size: xx-large;
	cursor: pointer;
	height: 64px;
	padding-left: 20%;
}
.buy_button:hover {
	background-color: #ccb;
	border: 6px solid #aa9;
}
.item_amount {
	color: #432;
	float: right;
	font-size: xxx-large;
	height: 100%;
	opacity: 30%;
	padding-right: 5%;
	text-align: right;
	width: 30%;
}
.item_price {
	float: bottom;
	font-size: small;
}
#left, #center, #right {
	float: left;
	height: 100%;
}
#center {
	width: 50%;
}
#center_interior {
	border-left: 14px solid #532;
	border-right: 14px solid #532;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
#building_panel {
	height: 80%;
	width: 100%;
}
#left {
	width: 30%;
}
#menu {
	border-bottom: 14px solid #532;
	height: 10%;
	width: 100%;
}
#right {
	width: 20%;
}
#snueg_counter {
	font-size: xxx-large;
	margin-top: 50px;
	text-align: center;
}
#stats {
	height: 100%;
	width: 100%;
}