html, body {
	background: repeating-linear-gradient(
	  90deg,
	  #1E506C,
	  #1E506C 32px,
	  #1B4862 32px,
	  #1B4862 64px
	);
	color: white;
	font-family: Georgia, serif;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	user-select: none;
}
abbr{
	cursor: help;
	text-decoration: none;
}
h2 {
	text-align: center;
}
h3 {
	margin: 0;
	background-color: #532;
}
.buy_button {
	background-color: #a99;
	border: 6px solid #444;
	cursor: pointer;
	font-size: 28px;
	font-weight: bold;
	height: 52px;
	padding-left: 15%;
	position: relative;
}
.buy_button span {
	position: absolute;
}
.buy_button:hover, .upgrade_buy_button:hover {
	background-color: #ccb;
	border: 6px solid #aa9;
}
.buy_button:active, .upgrade_buy_button:active, #guide:active {
	opacity: 50%;
}
.danger {
	color: red;
}
.item_amount {
	color: #432;
	font-size: xxx-large;
	opacity: 30%;
	right: 5%;
	top: -10%;
}
.item_name, .item_price {
	text-shadow: 0 0 3px black;
}
.item_price {
	bottom: 10%;
	/* todo color: #6f6; */
	font-size: small;
}
.particle {
	pointer-events: none;
	position: absolute;
}
.progressBarContainer {
	background-color: black;
	border: 1px solid gold;
	height: 8px;
	opacity: 50%;
	width: 100px;
}
.progressBar {
	background-color: blue;
	height: 100%;
}
.upgrade_buy_button {
	background-color: #a99;
	border: 6px solid #444;
	cursor: pointer;
	font-size: xx-large;
	display: inline-block;
	height: 62px;
	line-height: 62px;
	position: relative;
	text-align: center;
	width: 62px;
}
#left, #center, #right {
	float: left;
	height: 100%;
}
#autosave {
	bottom: 10px;
	cursor: pointer;
	left: 15%;
	position: absolute;
	text-decoration: none;
}
#center {
	width: 48%;
}
#center_interior {
	border-left: 14px solid #532;
	border-right: 14px solid #532;
	box-sizing: border-box;
	height: 100%;
}
#building_panel {
	height: 80%;
	/* overflow-y: scroll; */
	width: 100%;
}
#guide {
	animation: float 2s linear alternate infinite;
	bottom: 25px;
	cursor: pointer;
	font-size: xxx-large;
	left: 20px;
	position: absolute;
}
#guideSpeechBubble {
	background: linear-gradient(white, silver);
	border: 1px solid black;
	border-radius: 10px;
	bottom: 90px;
	color: black;
	display: none;
	font-family: Tahoma, Arial, sans-serif;
	left: 45px;
	max-width: 20%;
	padding: 10px;
	position: absolute;
	text-align: left;
}
#guideSpeechBubble:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20px;
    border-width: 20px 20px 0 0;
    border-style: solid;
    border-color: silver transparent;
    display: block;
    width: 0;
}
#guide:hover + #guideSpeechBubble {
    display: block;
}
#left {
	text-align: center;
	width: 30%;
}
#menu {
	border-bottom: 14px solid #532;
	height: 10%;
	position: relative;
	text-align: center;
}
#news {
	font-size: large;
	font-weight: bold;
	padding: 16px;
}
#playerSkip {
	height: 20px;
	filter: invert(1);
}
#prestige {
	background-color: #643;
	bottom: 0px;
	color: #ccc;
	cursor: pointer;
	line-height: 100%;
	height: 50%;
	position: absolute;
	right: 0px;
	width: 100px;
}
#right {
	overflow-y: auto;
	width: 22%;
}
#rpg {
	border-bottom: 14px solid #532;
	display: none;
	font-family: Consolas, "Courier New", monospace;
	height: 50%;
}
#rpgdisp {
	background-color: black;
	font-size: 2.1vh;
	height: 67%;
	text-align: center;
}
#rpgdisp div{
	line-height: 1;
	padding-top: 2px;
	transform: scale(2.04, 1);
}
#rpghud {
	background-color: grey;
	height: 33%;
}
#save_manager {
	position: absolute;
	left: 29%;
	bottom: 10px;
}
#save_manager abbr{
	font-size: large;
	cursor: pointer;
}
#save_manager abbr:hover{
	font-size: x-large;
	text-shadow: 0px 0px 3px white;
}
#snueg_button {
	border: 6px solid #d6f;
	background: #e7b;
	cursor: pointer;
	font-size: xxx-large;
	height: 100px;
	left: 20%;
	line-height: 100px;
	position: relative;
	width: 60%;
}
#snueg_button:active {
	opacity: 50%;
}
#snueg_button:hover {
	font-size: 60px;;
}
#snueg_counter {
	font-size: xxx-large;
	margin-top: 50px;
}
#stats {
	height: 20%;
}
#tooltip {
	background-color: #111;
	border: 2px solid gold;
	color: #ccc;
	font-family: Tahoma, Arial, sans-serif;
	padding: 8px;
	position: fixed;
	width: 400px;
}
#tooltip b {
	color: white;
}
#tooltip ul {
	font-size: small;
}
#upgrade_panel {
	max-height: 76px;
	overflow-y: hidden;
}
#upgrade_panel:hover{
	max-height: none;
}
#version {
	bottom: 10px;
	left: 10px;
	position: absolute;
}
#youtube {
	border: none;
	/* border-bottom: 14px solid #532; */
	margin-bottom: -4px;
}
@keyframes float{
	0% {transform: rotate(-10deg) translateX(5px);}
	50% {transform: scale(0.8) translateY(-5px);}
	100% {transform: rotate(10deg) translateX(-5px);}
}