html, body {
	background: repeating-linear-gradient(
	  90deg,
	  #1E506C,
	  #1E506C 32px,
	  #1B4862 32px,
	  #1B4862 64px
	);
	color: white;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	user-select: none;
}
abbr{
	cursor: help;
	text-decoration: none;
}
.buy_button {
	background-color: #a99;
	border: 6px solid #444;
	font-size: xx-large;
	cursor: pointer;
	height: 64px;
	padding-left: 20%;
	position: relative;
}
.buy_button span {
	position: absolute;
}
.buy_button:hover {
	background-color: #ccb;
	border: 6px solid #aa9;
}
.buy_button:active {
	opacity: 50%;
}
.danger {
	color: red;
}
.item_amount {
	color: #432;
	font-size: xxx-large;
	opacity: 30%;
	right: 5%;
}
.item_price {
	bottom: 10%;
	font-size: small;
}
.progressBarContainer {
	background-color: black;
	border: 1px solid gold;
	height: 8px;
	opacity: 50%;
	width: 100px;
}
.progressBar {
	background-color: blue;
	height: 100%;
}
#left, #center, #right {
	float: left;
	height: 100%;
}
#autosave {
	bottom: 10px;
	cursor: pointer;
	left: 15%;
	position: absolute;
	text-decoration: none;
}
#center {
	width: 50%;
}
#center_interior {
	border-left: 14px solid #532;
	border-right: 14px solid #532;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
#building_panel {
	height: 80%;
	width: 100%;
}
#left {
	text-align: center;
	width: 30%;
}
#menu {
	border-bottom: 14px solid #532;
	height: 10%;
	position: relative;
	text-align: center;
	width: 100%;
}
#news {
	font-size: large;
	font-weight: bold;
	padding: 16px;
}
#prestige {
	background-color: #643;
	bottom: 0px;
	color: #ccc;
	line-height: 100%;
	height: 50%;
	position: absolute;
	right: 0px;
	width: 100px;
}
#right {
	width: 20%;
}
#save_manager {
	position: absolute;
	left: 29%;
	bottom: 10px;
}
#save_manager abbr{
	font-size: large;
	cursor: pointer;
}
#save_manager abbr:hover{
	font-size: x-large;
	text-shadow: 0px 0px 3px white;
}
#snueg_button {
	border: 6px solid #d6f;
	background: #e7b;
	cursor: pointer;
	font-size: xxx-large;
	height: 100px;
	left: 20%;
	line-height: 100px;
	position: relative;
	width: 60%;
}
#snueg_button:active {
	opacity: 50%;
}
#snueg_button:hover {
	font-size: 60px;;
}
#snueg_counter {
	font-size: xxx-large;
	margin-top: 50px;
}
#stats {
	height: 40%;
	width: 100%;
}
#version {
	bottom: 10px;
	left: 10px;
	position: absolute;
}