h1, h2, h3 {
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
}
.phone {
	padding: 0 1vh;
}
.word .phone {
	padding: 0;
}
#wordlist li, #extraWordList li {
	background-color: #222;
	border: 0.1vw solid #111;
	display: block;
	float: left;
	padding: 1vh;
	width: calc((100% - 8*1vh - 8*0.1vw)/4);
}

#extraWordList {
	text-align: center;
}