h1, h2, h3 {
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
}
.phone {
	padding: 0 1vh;
}
.word .phone {
	padding: 0;
}
#wordlist li {
	display: block;
	float: left;
	width: 25%;
}