html {
	background-color: black;
	color: silver;
}
.clickable {
	color: blue;
	cursor: pointer;
	margin-right: 10px;
}
.translation {
	background-color: #040;
}
.sharesHypernyms {
	background-color: #440;
}
/* for clong */
.phone {
	padding: 0 1vh;
}
.word .phone {
	padding: 0;
}
#wordlist li {
	display: block;
	float: left;
	width: 25%;
}