html {
	background-color: black;
	color: silver;
}
.button, .clickable {
	color: #08f;
	cursor: pointer;
	margin-right: 10px;
}
.translation {
	background-color: #040;
}
.sharesHypernyms {
	background-color: #440;
}