#slider_container {
	columns: 4;
}
label {
	break-inside: avoid;
	display: block;
}
.answer {
	color: #dbd;
	font-weight: bold;
}
.shortDescElem {
	padding-left: 1em;
	font-size: 75%;
	user-select: none;
}
.shortDescElem::before {
	content: '(';
}
.shortDescElem::after {
	content: ')';
}
.shortDescElem span {
	padding-left: 0.2em;
	padding-right: 0.2em;
}