:root {
	--cellSize: 5em;
	--cellBSize: 1px;
	--cellFontSizeBig: 1vw;
	--cellFontSize: 0.75vw;
	--cellFontSizeSmall: 0.6vw;
	--dialSize: 30vw;
}
header, h2, #footer {
	text-align: center;
}
#cals {
	text-align: center;
	width: 100%;
}
#footer {
	font-size: 60%;
	font-style: italic;
}
#months table {
	border-collapse: collapse;
	position: relative;
	table-layout: fixed;
	text-align: center;
	user-select: none;
	width: 100%;
}
#months td {
	border: var(--cellBSize) solid black;
	height: var(--cellSize);
	padding: 0;
	width: var(--cellSize);
}
#months th {
	font-size: var(--cellFontSize);
}
.tdContainer {
	height: 100%;
	position: relative;
}
.date, .holiday, .kippi, .phoon, .season, .zodiac {
	left: 3%;
	position: absolute;
}
.kippi {
	bottom: 1em;
}
.phoon, .zodiac {
	bottom: 0;
}
.holiday, .kippi, .season, .zodiac {
	font-size: var(--cellFontSize);
	font-style: italic;
	right: 3%;
	text-align: right;
}
.holiday {
	font-size: var(--cellFontSizeSmall);
	font-weight: bold;
	top: 40%;
}
.holiday::before{
	content: '★ ';
}
.season_0 {
	background-color: #005c00; /* https://webaim.org/resources/contrastchecker/ */
}
.season_1 {
	background-color: #515100; /* https://webaim.org/resources/contrastchecker/ */
}
.season_2 {
	background-color: #800;
}
.season_3 {
	background-color: #008;
}
.season_4 {
	background-color: #808;
}
.season_5 {
	background-color: #005858; /* https://webaim.org/resources/contrastchecker/ */
}
.clockContainer, .sundial {
	display: inline-block;
	height: var(--dialSize);
	width: var(--dialSize);
}
.printOnly {
	display: none;
}
@media print {
	@page {size: landscape}
	.printOnly {
		display: inline;
	}
	header {
		display: none;
	}
	h2 {
		font-size: 400%;
	}
	html, body {
		background-color: white;
		color: black;
		font-size: 77%;
		margin: 1%;
	}
	.season_0 {
		background-color: #cfc;
	}
	.season_1 {
		background-color: #ff8;
	}
	.season_2 {
		background-color: #fdd;
	}
	.season_3 {
		background-color: #ccf;
	}
	.intercalary {
		background-color: #fdf;
	}
}
/* mobile */
@media only screen and (hover: none) and (pointer: coarse){
	.sundial {
		height: 25em;
		width: 25em;
	}
}