:root {
	--cellSize: 5.4em;
	--cellBSize: 1px;
	--cellFontSizeBig: 1vw;
	--cellFontSize: 0.75vw;
	--cellFontSizeSmall: 0.6vw;
	--dialSize: 40vw;
}
header, h2, #footer {
	text-align: center;
}
#cals {
	text-align: center;
	width: 100%;
}
#earthclock {
	font-size: 1.5em;
	user-select: none;
}
#footer {
	font-size: 60%;
	font-style: italic;
}
#months table {
	border-collapse: collapse;
	position: relative;
	table-layout: fixed;
	text-align: center;
	user-select: none;
	width: 100%;
}
#months td, #monthAlt td {
	border: var(--cellBSize) solid black;
	height: var(--cellSize);
	padding: 0;
	width: var(--cellSize);
}
#months th {
	font-size: var(--cellFontSize);
}
.tdContainer {
	height: 100%;
	position: relative;
}
.date, .holiday, .kippi, .phoon, .season, .zodiac {
	left: 3%;
	position: absolute;
}
.kippi {
	bottom: 1em;
}
.phoon, .zodiac {
	bottom: 0;
}
.holiday, .kippi, .season, .zodiac {
	font-size: var(--cellFontSize);
	font-style: italic;
	right: 3%;
	text-align: right;
}
.holiday {
	font-size: var(--cellFontSizeSmall);
	font-weight: bold;
	top: 40%;
}
.holiday::before{
	content: '★ ';
}
.season_0 {
	background-color: #005c00; /* https://webaim.org/resources/contrastchecker/ */
}
.season_1 {
	background-color: #515100; /* https://webaim.org/resources/contrastchecker/ */
}
.season_2 {
	background-color: #800;
}
.season_3 {
	background-color: #008;
}
.season_4 {
	background-color: #808;
}
.season_5 {
	background-color: #005858; /* https://webaim.org/resources/contrastchecker/ */
}
.season_6 {
	background-color: #703800; /* https://webaim.org/resources/contrastchecker/ */
}
.season_7 {
	background-color: #804; /* https://webaim.org/resources/contrastchecker/ */
}
.clockContainer, .sundial {
	display: inline-block;
	height: var(--dialSize);
	width: var(--dialSize);
}
.printOnly {
	display: none;
}
/* mlsc */
#mlscTable {
	display: inline-block;
}
#mlscTable * {
	padding: 1em;
}
#earthclock2 {
	text-align: left;
}
#earthclock2 td:nth-child(2n){
	background-color: #444;
}
#monthImg {
	display: block;
	margin: auto;
	max-height: 50vw;
	max-width: 75vw;
}
#monthAlt td {
	height: calc(1.4*var(--cellSize));
	text-align: center;
	width: calc(1.4*var(--cellSize));
}
#mlsc_explanation {
	margin: auto;
	max-width: 700px;
	text-align: justify;
}
#mlsc_explanation p {
	text-indent: 2em;
}
#mlsc_explanation table, #monthAlt {
	margin: auto;
}
#mlsc_explanation th {
	text-align: center;
}
#mlsc_explanation table tr:nth-child(2n){
	background-color: #444;
}
#monthAlt hr {
	border: 1px solid silver;
	width: 75%
}
.bigger {
	font-size: 150%;
	font-weight: bold;
}
/* other media */
@media print {
	@page {size: landscape}
	.printOnly {
		display: inline;
	}
	header {
		display: none;
	}
	h2 {
		font-size: 400%;
	}
	html, body {
		background-color: white;
		color: black;
		font-size: 77%;
		margin: 1%;
	}
	.season_0, .season_4 {
		background-color: #eee;
	}
	.season_1, .season_5 {
		background-color: #ddd;
	}
	.season_2, .season_6 {
		background-color: #ccc;
	}
	.season_3, .season_7 {
		background-color: #bbb;
	}
	.intercalary {
		background-color: #fdf;
	}
	#mlsc_explanation {
		display: none;
	}
	#monthImg {
		max-height: 32vw;
	}
}
/* mobile */
@media only screen and (hover: none) and (pointer: coarse){
	.sundial {
		height: 25em;
		width: 25em;
	}
}