html, body {
	margin: 0;
	user-select: none;
}
text {
	text-anchor: middle;
}
#chart {
	height: 100%;
	width: 100%;
}
.bar {
	fill: green;
}
.label {
	fill: blue;
	font: 25px monospace;
}
.small.label {
	font-size: 10px;
}
.value {
	fill: red;
	font: 10px monospace;
}