:root {
	--cellSize: 5em;
	--cellBSize: 1px;
	--phoonSize: 1.2em;
}

header {
	text-align: center;
}
svg {
	height: var(--phoonSize);
	width: var(--phoonSize);
}
#cals {
	text-align: center;
	width: 100%;
}
.calendar {
	border-collapse: collapse;
	position: relative;
	table-layout: fixed;
	text-align: center;
	user-select: none;
	width: 100%;
}
.calendar td {
	border: var(--cellBSize) solid black;
	height: var(--cellSize);
	padding: 0;
	width: var(--cellSize);
}
.calendar th {
	font-size: 75%;
}
.tdContainer {
	height: 100%;
	position: relative;
}
.date, .holiday, .moon, .season, .zodiac {
	left: 3%;
	position: absolute;
}
.moon, .zodiac {
	bottom: 0;
}
.holiday, .season, .zodiac {
	font-size: 75%;
	font-style: italic;
	right: 3%;
	text-align: right;
}
.holiday {
	font-size: 65%;
	font-weight: bold;
	top: 40%;
}
.holiday::before{
	content: '★ ';
}
.season_0 {
	background-color: #080;
}
.season_1 {
	background-color: #800;
}
.season_2 {
	background-color: #008;
}
.intercalary {
	background-color: #404;
}
.selectedDate {
	background-color: rgba(255, 255, 255, 0.25);
	font-weight: bold;
}
@media print {
	@page {size: landscape}
	hr {
		display: none;
	}
	html, body {
		background-color: white;
		font-size: 74%;
		color: black;
	}
	.season_0 {
		background-color: #cfc;
	}
	.season_1 {
		background-color: #fdd;
	}
	.season_2 {
		background-color: #ccf;
	}
	.intercalary {
		background-color: #fdf;
	}
	.selectedDate {
		background-color: inherit;
		font-weight: normal;
	}
}