.hex {
	background-color: #430;
	border: 0.1vh 0.1vw;
	height: 30vh;
	line-height: 30vh;
	position: absolute;
	text-align: center;
	width: 30vw;
}
/* horizontal alignment of hexes */
#hex1, #hex0, #hex6 {
	left: 33vw;
}
#hex2, #hex4 {
	left: 0;
}
#hex3, #hex5 {
	left: 66vw;
}
/* vertical alignment of hexes */
#hex1 {
	top: 0;
}
#hex2, #hex3 {
	top: 16.67vh;
}
#hex0 {
	top: 33.33vh;
}
#hex4, #hex5 {
	top: 50vh;
}
#hex6 {
	top: 66.67vh;
}