html, body {
	user-select: none;
}
.hex {
	background-color: #430;
	height: 30vh;
	line-height: 30vh;
	position: absolute;
	text-align: center;
	width: 30vw;
}
.letter {
	background-color: #444;
	border: 2px solid black;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	height: 1em;
	position: absolute;
	width: 1em;
}
.letter:hover {
	background-color: #555;
}
.letter:active {
	background-color: #666;
}
.letter.selected {
	background-color: #888;
}
#controls {
	height: 16.67vh;
	left: 0;
	padding: 1vh 1vw;
	position: absolute;
	top: 0;
	width: 33.33vw;
}
/* horizontal alignment of hexes */
#hex1, #hex0, #hex4 {
	left: 33vw;
}
#hex5, #hex6 {
	left: 0;
}
#hex2, #hex3 {
	left: 66vw;
}
/* vertical alignment of hexes */
#hex1 {
	top: 0;
}
#hex2, #hex6 {
	top: 16.67vh;
}
#hex0 {
	top: 33.33vh;
}
#hex3, #hex5 {
	top: 50vh;
}
#hex4 {
	top: 66.67vh;
}
/* directions */
.direction0 {
	left: 50%;
	top: 0;
}
.direction1 {
	right: 0;
	top: 15%;
}
.direction2 {
	right: 0;
	top: 70%;
}
.direction3 {
	left: 50%;
	bottom: 0;
}
.direction4 {
	left: 0;
	top: 70%;
}
.direction5 {
	left: 0;
	top: 15%;
}