:root {
	--cellSize: 0.85vmin;
}

html, body {
	background-color: black;
	font-family: Consolas, 'Courier New', monospace;
	user-select: none;
}

td {
	color: white;
	font-size: calc(0.6 * var(--cellSize));
	font-weight: bold;
	height: var(--cellSize);
	text-align: center;
	text-decoration: none;
	-webkit-text-stroke: calc(0.5 * var(--cellSize)) cyan;
	width: var(--cellSize);
}

td:hover {
	box-shadow: 0 0 40px 20px black;
	position: relative;
	z-index: 999;
}

#container table {
	margin: auto;
}