iframe {
	border: none;
	height: 40vw;
	width: 80vw;
}

#foodLabel {
	background-color: white;
	border: 1px solid black;
	color: black;
	font-family: Helvetica, sans-serif;
	width: 20em;
}
#foodLabel h3 {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}
#foodLabel hr {
	border: 2px solid black;
}

.dv {
	height: 0;
	right: 0;
	position: relative;
	text-align: right;
	top: -1em;
}