body {
	margin: 1em 0;
	overflow-x: hidden;
}
.main {
	position: relative;
	width: 100vw;
}
.datum, .scale, .range {
	position: absolute;
}
.datum.larr {
	transform: translate(6em, -50%);
}
.datum.rarr {
	text-align: right;
	transform: translate(-100%, -50%);
}
@media (hover: hover) { /* opposite: hover: none */
	#tabContainer > *:hover, .datum:hover {
		color: white;
		opacity: 1;
		text-shadow:0 0 1em white;
	}
	.main:has(.datum:hover) .datum:not(:hover) {
		opacity: 0.25;
	}
}
.datum.larr::before {
	content: "←";
}
.datum.rarr::after {
	content: "→";
}
.scale {
	color: red;
	transform: translate(0, -50%); /* center vertically */
	user-select: none;
}
.scale::before, .scale::after {
	content: "—";
}
.permalink::before {
	content: "*";
}
.permalink {
	text-decoration: none;
}
.range {
	align-items: center;
	color: black;
	display: flex;
	justify-content: center;
	opacity: 0.5;
	text-align: center;
	user-select: none;
	width: 10vw;
	z-index: -1;
}
.range span {
	transform: rotate(90deg);
}
.errors {
	display:inline-block;
	font-size:50%;
	text-align:right;
	vertical-align:-0.2em;
}
#cat_container {
	background-color: #222;
	border-left: 0.5vw solid silver;
	border-bottom: 0.5vw solid silver;
	border-bottom-left-radius: 1vw;
	padding: 1vw;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
#cat_container > * {
	display: block; /* force each element to be on a new line */
}
a {
	white-space: nowrap;
}
a[href^="https://en.wikipedia.org"] {
	background: transparent url('https://upload.wikimedia.org/wikipedia/en/8/80/Wikipedia-logo-v2.svg') no-repeat right center/30%;
	padding-right: 15px;
}
.amount {
	color: grey;
	font-size: 75%;
}
#tabContainer {
	background-color: #222;
	border-bottom: 0.5vw solid silver;
	border-bottom-right-radius: 1vw;
	border-top: 0.5vw solid silver;
	border-top-right-radius: 1vw;
	border-right: 0.5vw solid silver;
	position: fixed;
	left: 0;
	top: 1em;
	z-index: 1;
}
#tabContainer > * {
	cursor: pointer;
	padding: 1vw;
	user-select: none;
}
#tabContainer > *:not(:first-child) {
	border-bottom: 0.5vw solid silver;
}