body {
	margin-bottom: 1em;
	margin-top: 1em;
	overflow-x: hidden;
}
#main {
	position: relative;
	width: 100vw;
}
.datum, .scale, .range {
	position: absolute;
}
.datum {
	transform: translate(6em, -50%);
}
@media (hover: hover) { /* opposite: hover: none */
	.datum:hover {
		color: white;
		opacity: 1;
		text-shadow:0 0 1em white;
	}
	#main:has(.datum:hover) .datum:not(:hover) {
		opacity: 0.25;
	}
}
.datum::before {
	content: "←";
}
.scale {
	color: red;
	transform: translate(0, -50%); /* center vertically */
	user-select: none;
}
.scale::before, .scale::after {
	content: "—";
}
.permalink::before {
	content: "*";
}
.permalink {
	text-decoration: none;
}
.range {
	align-items: center;
	color: black;
	display: flex;
	justify-content: center;
	opacity: 0.5;
	text-align: center;
	user-select: none;
	width: 10vw;
	z-index: -1;
}
.range span {
	transform: rotate(90deg);
}
.errors {
	display:inline-block;
	font-size:50%;
	text-align:right;
	vertical-align:-0.2em;
}
#cat_container {
	background-color: #222;
	border-left: 0.5vw solid silver;
	border-bottom: 0.5vw solid silver;
	border-bottom-left-radius: 1vw;
	padding: 1vw;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
#cat_container > * {
	display: block; /* force each element to be on a new line */
}
a {
	white-space: nowrap;
}
a[href^="https://en.wikipedia.org"] {
	background: transparent url('../img/wp.png') no-repeat right center/25%;
	padding-right: 10px;
}