#paleomap_container {
	background-color: #ccf;
	border: 2px solid black;
	box-sizing: border-box; /* to prevent the border from pushing the size out of bounds */
	display: inline-block;
}

#paleomap_img {
	height: 20vh;
}

#paleomap_super {
	bottom: 0;
	position: fixed;
	text-align: center;
	width: 100%;
}

.button {
	background-color: #aac;
	border-color: #444;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	color: #444;
	cursor: pointer;
	font-size: 2em;
	padding: 0 10px;
	user-select: none;
	width: fit-content;
}
.button:hover {
	opacity: 0.5;
}
.button:active {
	opacity: 0.25;
}