label {
	user-select: none;
}
th {
	background-color: #eff7ff;
	text-transform: uppercase;
}
.gf {
	background-color: #fdf;
}
.gm {
	background-color: #ddf;
}
.gn {
	background-color: #ddd;
}
.irregular {
	background-color: #fee;
	color: #400;
}
.pl {
	font-family: "Brygada 1918", serif;
}