html {
	overflow: hidden;
	user-select: none;
}
.graticule, .planet {
	position: absolute;
}
.graticule {
	border-left: 2px solid cyan;
	border-top-left-radius: 1vw;
	font-size: 1.5vw;
	color: cyan;
	padding-left: 0.5vw;
}
.planet {
	color: white;
	font-size: 1.2vw;
	top: 5vw;
}
.planet img {
	display: block;
}
.status {
	color: silver;
	font-size: 75%;
}