html {
	overflow: hidden;
	user-select: none;
}
.graticule, .planet {
	position: absolute;
}
.graticule {
	font-size: 1.5vw;
	color: red;
}
.planet {
	font-size: 1.2vw;
	top: 5vw;
}
.planet img {
	display: block;
}