body {
	font-family: Consolas, 'Courier New', Courier, monospace;
}
table {
	border: 4px solid black;
	border-collapse:collapse;
}
td {
	border: 2px solid black;
	height: 2em;
	text-align: center;
	width: 2em;
	vertical-align: middle;
}