body {
	overflow-x: hidden;
}
#main > div {
	padding: 1em 3vw;
	&:not(:first-child) {
		border-top: 0.2em solid silver;
		columns: 4;
	}
}
label {
	display: inline-block;
}
#inputs {
	font-size: 1.3vw;
}
#outputs > div {
	font-size: 1.1vw;
	text-wrap-mode: nowrap;
}
.out_const > span {
	color: gold;
}
.out_dim > span {
	color: red;
}
#presets > span {
	display: inline-block;
}
@media (hover: hover) { /* opposite: hover: none */
	#outputs:has(div:hover) > div:not(:hover) {
		opacity: 0.5;
	}
}