body {
	margin: 0;
}

html {
	background-color: black;
	color: silver;
	font-family: Consolas, 'Courier New', Courier, monospace;
}

.back {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: silver;
	color: black;
}

.contents, .itemMenu {
	list-style: none;
	padding: 0;
}

.look {
	text-align: center;
}

.look img, #status > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#details {
	height: 100%;
	left: 20%;
	position: absolute;
	top: 0;
	width: 80%;
}

#gameFrame {
	height: 100%;
	width: 100%;
}

#status {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 20%;
}

#status > h1 {
	text-align: center;
}

#status > img {
	width: 50%;
}

#tooltip {
	border: 1px solid silver;
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

#tooltip:empty {
	display: none;
}